@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

/*#blog-title,*/
body,
h1, h2, h3, h4, h5, h6,
p {
  font-family: 'News Cycle', sans-serif;
}

div.container {
  max-width: 1000px;
}

div.container#content {
  max-width: 960px;
}

div .flex {
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  padding: 0px 0px 0px 0px;
}

div.flex > div.container {
	padding: 0px 0px 0px 0px;	
}

div.flex > div.left {
	margin-right: 5em;
}

div .indent-left {
  margin-left: 0.3rem;
}

.body-content img {
	margin: 10px 10px 10px 10px;
}

/*figcaption {
  text-align: center!important;
  font-style: italic;
  font-size: 0.95rem;
}*/

p + ul {  
   margin-top: -0.9rem;
}

p:empty {
  margin-bottom: 0rem;
}

blockquote p {
  font-size: 1.1rem;
}

h4 + ul {
  margin-top: -0.4rem;
}

h5 + ul {
  margin-top: -0.3rem;
}

div .smaller {
	font-size: 0.8rem;
	padding-left: 0px;
}

/*.body-content h1 {
  font-size: 2.5rem;
}*/

.body-content h2 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.body-content h3 {
  font-size: 1.7rem;
  margin-top: 1.7rem;
  margin-bottom: 0.5rem;
}

.body-content h4 {
  font-size: 1.4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.body-content h5 {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0.2rem;
}

/*.body-content h6 {
  font-size: 0.9rem;
}*/


/* indexstyle.css from old site */


h3.year {
  margin-top: 2.0rem;
  margin-left: 0.3rem;
  margin-bottom: -0.8rem;
  font-style: italic;
}


div.presentation {
  margin-top: 1.3rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

h4.title, h5.title, p.title {
  margin-bottom: 0rem;
  font-weight: bold;
}

h5.co-presenter, p.co-presenter {
  font-style: italic;
  margin-bottom: -0.1rem;
}

h5.talk, p.talk {
  padding-left: 2rem;
  font-style: normal;
  font-weight: normal;
}

span.note {
  font-style: oblique;
}

h6.note {
  font-style: oblique;
  margin-left: 1rem;
  padding-bottom: 0.1rem;
}