@font-face{ 
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
}

@font-face{ 
  font-family: 'Montserrat Italic';
  src: url('/assets/fonts/Montserrat-Italic.ttf');
}

@font-face{ 
  font-family: 'Montserrat SemiBold';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face{ 
  font-family: 'Montserrat SemiBold Italic';
  src: url('/assets/fonts/Montserrat-SemiBoldItalic.ttf');
}

@font-face{ 
  font-family: 'Zilla Slab';
  src: url('/assets/fonts/ZillaSlab-Medium.ttf');
}

@font-face{ 
  font-family: 'Zilla Slab Italic';
  src: url('/assets/fonts/ZillaSlab-MediumItalic.ttf');
}

.blog-header-logo
{
  font-family: 'Zilla Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', serif;
}

.body-content {
  font-family: 'Montserrat', sans-serif;
}

.body-content em {
   font-family: 'Montserrat Italic', sans-serif;
   font-weight: normal;
   font-style: normal;
}

.body-content strong {
   font-family: 'Montserrat SemiBold', sans-serif;
   font-weight: normal;
   font-style: normal;
}

.body-content strong > em, .body-content em > strong {
   font-family: 'Montserrat SemiBold Italic', sans-serif;
   font-weight: normal;
   font-style: normal;
}


h5.title > a, h5.title {
   font-family: 'Montserrat', sans-serif; 
}

h6.note {
 font-family: 'Montserrat', sans-serif;  
}

div.container {
  max-width: 960px;
}

div.container#content {
  max-width: 900px;
}

/*ToDo: flex classes still needed?*/
div .flex {
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  padding: 0px 0px 0px 0px;
}

div.flex > div.container {
	padding: 0px 0px 0px 0px;	
}

div.flex > div.left {
	margin-right: 5em;
}

div .indent-left {
  margin-left: 0.3rem;
}

.body-content img {
	margin: 10px 10px 10px 10px;
}

p + ul {  
   margin-top: -0.9rem;
}

p:empty {
  margin-bottom: 0rem;
}

blockquote p {
  font-size: 1.1rem;
}

h4 + ul {
  margin-top: -0.4rem;
}

h5 + ul {
  margin-top: -0.3rem;
}

div .smaller {
	font-size: 0.8rem;
	padding-left: 0px;
}

/*.body-content h1 {
  font-size: 2.5rem;
}*/

.body-content h2 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.body-content h3 {
  font-size: 1.7rem;
  margin-top: 1.7rem;
  /*margin-bottom: 0.5rem;*/
}

.body-content h4 {
  font-size: 1.4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.body-content h5 {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0.2rem;
}

/*.body-content h6 {
  font-size: 0.9rem;
}*/


/* indexstyle.css from old site */


h3.year {
  margin-top: 2.0rem;
  margin-left: 0.3rem;
  margin-bottom: -0.8rem;
}


div.presentation {
  margin-top: 1.3rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

h4.title, h5.title, p.title, h5.title > a {
  margin-bottom: 0rem;
  font-family: 'Montserrat SemiBold', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h5.co-presenter, p.co-presenter {
  margin-bottom: -0.1rem;
  font-family: 'Montserrat Italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h5.talk, p.talk {
  padding-left: 2rem;
  font-style: normal;
  font-weight: normal;
}

h6.note {
  margin-left: 1rem;
  padding-bottom: 0.1rem;
}
