{#  -*- coding: utf-8 -*- #}
{% block content %}
<div id="{{ post_list_id }}" class="post-list">
    {% if posts %}
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-list-item">
            <a href="{{ post.permalink(lang) }}">{{ post.title(lang) | split_blog_title(1) | e }}</a>
            {{ post.title(lang) | split_blog_title(2) | e }} [{{ post.formatted_date('MMM Y')}}]
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}